body {
    font-family: Arial, sans-serif;
    background-color: #100f0f;
    text-align: center;
}

h1 {
    color: #C28E0E;
}

#quiz {
    margin-top: 50px;
    background-color: #cfc8c8;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
}

#question {
    font-size: 24px;
    margin-bottom: 20px;
}

#options {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #C28E0E;
    color: #FFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #9D7300;
}

#result {
    color: white;
}